.bannerBienvenida{
    height: 80px;
    display: flex;
    justify-content: center;
    font-family: $secondary-font;
    font-size: 40px;
    padding: 10px;
}
.contenidoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    padding-top: 10px ;
}

.contenidoPrincipal__contenedor-imagen{
    height: 70%;
    border: 2px solid;
    border-color: $primary-color;
    border-radius: 15px;
}
.contenidoPrincipal__contenedor-titulo{
    font: bolder 20px/40px $secondary-font; 
}
.contenidoPrincipal__contenedor-texto{
    width: 65%;
    height: 90px;
    font: bold 16px $primary-font;
    text-align: center;
}
.guardias{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 180px;
    margin-bottom: 10px;
}
.guardia-telefonos{
    background-color: $third-color;
    font: bold 16px $primary-font;
    padding: 5px;
    width: 20%;
    text-align: center;
    border-radius: 5px;
}
#horariosAtencion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
}
.horarios{
    background-color: $secondary-color;
    padding: 10px;
    font: 16px $secondary-font;
    color: $third-color; 
}
