.servicios__contenedor{
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap; 
    align-items: center;
    justify-content: space-between;
    height: 500px;
}
.servicios__img{
    width: 80%;
    border-radius: 5px;
    border: 5px $primary-color solid;
    padding: 10px;
}
.boton-solicitar{
    width: 80px;
    padding: 5px 0px;
    border: none;
    background-color: $primary-color;
    font: bold 14px $primary-font;
    border-radius: 3px;
} 
.boton-solicitar:hover{
    transform: scale(1.1);
    background-color: $secondary-color;
    color: white;
}
hgj

.boton-enviar{
    width: 80px;
    padding: 5px 0px;
    border: none;
    background-color: $fifth-color;
    font: bold 14px $primary-font;
    border-radius: 3px;
 }
 .boton-enviar:hover{
    transform: scale(1.1);
}
