#footerInformation{
    background-color: $sixth-color;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding: 5px 0px;
    grid-area: footer;
    p{
        margin-bottom: 0px;
    }
}
.footer__design{
    font-size: 12px;
    padding-top: 5px;
}
