$primary-color: #FFE033;
$secondary-color: black;
$third-color: #ffe74c;
$fourth-color: #61D095;
$fifth-color: #439775;
$sixth-color: #48bf84;

*{
    margin: 0;
    padding: 0;
}
main{
    padding-top: 90px;
    padding-bottom: 0px;
    grid-area: main;
}
body{
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat (4,1fr);
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer";

}

//colores//

$primary-color: #FFE033;
$secondary-color: black;
$third-color: #ffe74c;
$fourth-color: #61D095;
$fifth-color: #439775;
$sixth-color: #48bf84;







//@each $color in #ffe74c, black, #61D095, #439775{
  //.bk-#{$color} {
   //  background-color: $color
    //}
//}


//fuente//







